<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
  <package id="Simplic.Data" version="1.3.18.101" targetFramework="net451" />
  <package id="Simplic.Studio.UI" version="1.0.18.926" targetFramework="net451" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net451" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net451" />
  <package id="Unity.ServiceLocation" version="2.1.2" targetFramework="net451" />
</packages>