<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Simplic.CoreLib" version="6.0.18.619" targetFramework="net451" />
  <package id="Simplic.Icon" version="6.0.18.620" targetFramework="net451" />
  <package id="Simplic.Localization" version="6.0.118.913" targetFramework="net451" />
  <package id="Simplic.Studio.UI" version="1.0.18.926" targetFramework="net451" />
</packages>