<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net451" />
  <package id="Dapper" version="1.50.5" targetFramework="net451" />
  <package id="Simplic.CoreLib" version="6.14.418.1002" targetFramework="net451" />
  <package id="Simplic.Data" version="1.5.118.1029" targetFramework="net451" />
  <package id="Simplic.Icon" version="6.0.18.620" targetFramework="net451" />
  <package id="Simplic.Sql" version="6.2.18.926" targetFramework="net451" />
</packages>